.heart {
    width: 20px;
    height: 20px;
}

.post-date-time {
    float: right;
}

.post-text {
    font-size: larger;
}

.inline {
    display: inline;
}

.title {
    margin: 20px;
}

.vert-delim {
    height: 30px;
    width: 100%;
}

#follow-switch {
    margin: 20px;
}

#n-followers {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    font-size: larger;
}