.like-switch {
    width: 20px;
    height: 20px;
}

.post-date-time {
    float: right;
}

.post-text {
    font-size: larger;
}

.inline {
    display: inline-block;
}

#header-box {
    margin: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.vert-delim {
    height: 30px;
    width: 100%;
    clear: both;
}

#follow-switch {
    margin: 20px;
}

div #right-float-div {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    font-size: larger;
}

/* #n-followers {
 
} */

#n-follows {
    margin-top: 20px;
}